.navigation-list-item {
    background-color: transparent;
    line-height: 1.7;
}

.navigation-list-item:hover {
    background-color: #015958;
    border-radius: 5px;
    text-decoration: underline;
}

.navigation-list-href {
    text-decoration: none;
    color: white;
}

#navigation_bar {
    background-color: rgb(12, 171, 168, 80%);
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#help_bar {
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#navigation_bar_header {
    color: white;
    background-color: #008F8C;

    font-family: Inconsolata, monospace;
    text-align: center;

    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    margin-bottom: 0;
}

#navigation_bar_list {
    color: white;
    list-style-type: none;
    font-family: Ubuntu Mono, monospace;
    font-size: 24px;
    text-align: center;
    padding-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;
}