.main_container {
    background-color: rgb(12, 171, 168, 80%);
    width: 160%;
    height: 100%;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#news_header_container {
    position: relative;
    background-color: rgb(1, 89, 88, 0.6);
    width: 90%;
    height: 4%;
    margin-left: 5%;
    top: 1%;
    border-radius: 5px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#news_header {
    margin: 0;
    font-size: 60px;
    font-family: Inconsolata, monospace;
    color: white;
}

.main-item-container {
    position: relative;
    background-color: rgb(1, 89, 88, 0.6);
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 3%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-item-container.hover {
    background-color: rgb(1, 89, 88);
}