.main-item-header {
    font-family: Inconsolata, monospace;
    font-size: 28px;
    color: white;
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 0;
}

.main-item-separator {
    height: 2px;
    background-color: white;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.main-item-text {
    font-family: Ubuntu Mono, monospace;
    font-size: 20px;
    color: white;
    margin-top: 0;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.main-item-image {
    position: relative;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 0.5%;
    border-radius: 5px;
    z-index: -1;
}

.main-item-image-container {
    margin: 0;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0%) 60%, #015958);
    border-radius: 5px;
    cursor: pointer;
}