@media all and (min-width: 1024px) {
    #main {
        position: relative;
        float: left;
        width: 50%;
        margin: 2% 0 2% 15.7%;
    }
}

@media all and (max-width: 1024px) {
    #main {
        position: relative;
        float: unset;
        width: 75%;
        margin: 2% 0 2% 12%;
    }
}